# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
coverage
karma.config.js

#build tools
.travis.yml
tsconfig.*.json

#linters
.prettierrc

#editor settings
.idea
.editorconfig

#dir
/projects
/images
/.github

#misc
.gitkeep
